<?xml version="1.0"?>
<launch>

<!-- Argumentos de entrada -->
	<!-- Nombre del robot -->
	<arg name="id_robot" default="campero"/>
	
	<!-- Posición inicial -->
	<arg name="x_init_pose" default="0"/>
	<arg name="y_init_pose" default="0"/>
	<arg name="z_init_pose" default="0"/>

	<!-- Gmapping -->
        <arg name="gmapping" default="false"/>

	<!-- Xacro utilizada -->
	<arg name="xacro_robot" default="campero_rubber.urdf.xacro"/>

	<!-- Mapa de Rviz -->
	<arg name="map_file" default="empty/map_empty.yaml"/>

	<!-- Tipo de movimiento -->
	<arg name="robot_localization_mode" default="odom"/>
	<arg name="ros_planar_move_plugin" default="true"/>

	<!-- Tipo de brazo -->
	<arg name="3_finger_gripper" default="false"/>

	<!-- Prefijo para encontrar topics -->
	<arg name="prefix" value="$(arg id_robot)_"/>

<!-- Ejecutar el robot campero -->
	<!-- Colocamos todos los nodos en el grupo del Robot -->
	<group ns="$(arg id_robot)">

		<!-- El Robot -->
		<include file="$(find campero_gazebo)/launch/campero_one_robot_nav.launch">

			<!-- Argumentos -->
				<!-- Nombre -->
				<arg name="id_robot" value="$(arg id_robot)"/>

				<!-- Posición inicial -->
				<arg name="x_init_pose" value="$(arg x_init_pose)"/>
				<arg name="y_init_pose" value="$(arg y_init_pose)"/>
				<arg name="z_init_pose" value="$(arg z_init_pose)"/>

				<!-- Xacro -->
				<arg name="xacro_robot" value="$(arg xacro_robot)"/>
				
				<!-- Mapa -->
				<arg name="map_file" value="$(arg map_file)"/>

				<!-- Desactiva el ros-control plugin de gazebo -->
				<arg name="ros_planar_move_plugin" value="$(arg ros_planar_move_plugin)"/>
				
				<!-- Brazo -->
				<arg name="3_finger_gripper" value="$(arg 3_finger_gripper)"/>
		</include>

		<!-- Ejecutar MapServer-->
		<include file="$(find campero_localization)/launch/map_server.launch">
			
			<!-- Para poder buscar topics -->
			<arg name="prefix" value="$(arg prefix)"/>

			<!-- Mapa -->
			<arg name="map_file" value="$(arg map_file)"/>
		</include>

		<!-- Ejecutar AMCL-->
		<include file="$(find campero_localization)/launch/amcl.launch">

			<!-- Para poder buscar topics -->
			<arg name="prefix" value="$(arg prefix)"/>

			<!-- Tipo ruedas (diff o omni) en función del tipo de movimiento -->
			<arg if="$(arg ros_planar_move_plugin)" name="odom_model_type" value="omni"/>
			<arg unless="$(arg ros_planar_move_plugin)" name="odom_model_type" value="diff"/>

			<!-- Posicion inicial -->
			<arg name="x_init_pose" value="$(arg x_init_pose)"/>
			<arg name="y_init_pose" value="$(arg y_init_pose)"/>
			<arg name="z_init_pose" value="$(arg z_init_pose)"/>
		</include>

		<!-- Ejecutar MoveBase -->
		<include file="$(find campero_navigation)/launch/move_base.launch">

			<!-- Para poder buscar topics -->
			<arg name="prefix" value="$(arg prefix)"/>

			<!-- Tipo de ruedas -->
			<arg name="omni" value="$(arg ros_planar_move_plugin)"/>
		</include>

	<!-- Fin del grupo -->
	</group>

	<!-- Activa un PID que simula la gravedad-->
	<rosparam command="load" file="$(find campero_control)/config/gazebo/gazebo_controller_omni.yaml"/>

	<!-- Ejecutar Gazebo y Rviz-->
	<include file="$(find campero_gazebo)/launch/gazebo_rviz.launch">

		<!-- Ejecutar Rviz -->
		<arg name="launch_rviz" value="true"/>

		<!-- Mundo de Gazebo-->
		<arg name="world" value="$(find campero_gazebo)/worlds/aruco.bin"/>

		<!-- Setting debug-->
		<arg name="debug" value="false"/>
	</include>
</launch>
